@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Montserrat:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --cotainerWidth: 80vw;
  --firstTextColor: #e4e5ea;
  --secondTextColor: #656566;
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  background-color: #0e1014;
  width: 100vw;
  height: 100vh;
  display: inline-block;
  overflow-x: hidden;
  color: var(--firstTextColor);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
